<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script>    
        var socket = io.connect('http://' + document.domain + ':' + location.port); 
        function startGame(){
            socket.emit("start_game");
        }
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Host Game</title>
</head>
<body> 
    <h1 id="game_code">Control Game:</h1>
    <button onclick="startGame()">Start the game</button>
</body>
</html>
