<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script>    
        var socket = io.connect('http://' + document.domain + ':' + location.port);
        // Set username as admin to indicate 
        socket.emit('set_username', {'username': "admin"});
    </script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Host Game</title>
</head>
<body>




</body>
</html>
