<!DOCTYPE html>
<html>
<head>
    <title>Code-it!</title>
    <link href="{{ url_for('static',filename='styles/others.css') }}" rel="stylesheet">
    <link href="{{ url_for('static',filename='styles/index.css') }}" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.12/ace.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script type="text/javascript" charset="utf-8">
        var socket = io.connect('http://' + document.domain + ':' + location.port);

        socket.emit("update_connection", {"uuid": sessionStorage["uuid"]});
        // The rest of the client-side code remains the same

        socket.on('present_question', function(msg) {
            var messages = document.getElementById("messages");
            messages.innerHTML += ('<p><b>' + sessionStorage.getItem('username') + ':</b> ' + msg.text + '</p>');
        });
        socket.on("display_round_results", function(data) {
            //TODO display how the user did on this particular question here
        })
        socket.on("display_results", function(data) {
            //localStorage["socket"] = JSON.stringify(socket);
            localStorage["results"] = data; 
            localStorage["username"] = username;     
            window.location.href = "/displayResultsPlayer";
        });
        socket.on("receive_feedback", function(data) {
            console.log(data);
            response = data;// TOOD display the feedbakc nicely
            document.getElementById("messages").innerHTML = response;
        });
        socket.on("new_question", function(msg) {
            let desc = msg.description
            
            document.getElementById('prompt').style.display = "block";
            document.getElementById('ask').style.display = "block";
            document.getElementById('button').style.display = "block";            

            document.getElementById('editor').style.display = "block";
        
            document.getElementById('loader').style.display = "none";

            var button = document.getElementById('button');
            button.disabled = false;

            document.getElementById("ask").innerText = "Question: " + desc;

        })
        socket.on("end", function(data) {
            window.location.href = data.url;
        })
    </script>
    
</head>
<body>
    <div id="card" class="card">
            <div class="text">Let's Code</div>
            <div class="bg"></div>
            <div class="blob" id="blob"></div>
    </div>

    <div class="flex flex-col justify-center min-h-screen bg-gray-50 py-6 sm:py-12 w-fill">
        <div class="relative bg-white rounded-lg shadow-xl ring-1 ring-gray-900/5 mx-auto max-w-lg px-6 pt-10 pb-8 sm:px-10 space-y-6 text-base leading-7 text-gray-600 md:w-3/4">
          <h2 id="ask" class="center text-3xl font-extrabold tracking-tight text-gray-900 sm:text-4xl">Question: {{first_question}}</h2>
          <div id="messages" class="mb-20"></div>
          <div>
            <label id="prompt" for="code" class="block text-sm font-medium leading-6 text-gray-900">Enter your code below</label>
            <div class="relative mt-2 rounded-md shadow-sm">
                <div id="block">
                    <div id="loader" style="display: none;"></div>
                    <div id="editor" style="height: 300px; font-size: 18px;"></div>
                </div>
        
            <button id="button" onclick="sendMessage()" class="mt-4 px-4 py-2 font-semibold text-white bg-indigo-600 rounded-md hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Send</button>
          </div>
        </div>
      </div>

      <script type="text/javascript" charset="utf-8">// Initialize ACE Editor
        var editor = ace.edit("editor");
        editor.setTheme("ace/theme/monokai"); // Set editor theme
        editor.session.setMode("ace/mode/python"); // Set language mode
        editor.session.setUseWrapMode(true);    
        editor.setHighlightActiveLine(true);
        // Add event listener for changes in the editor
        editor.getSession().on('change', function() {
            var code = editor.getValue();
        });
        
        function sendMessage() {
            var blob = document.getElementById('blob');
            blob.style.animationPlayState = 'paused';
            document.getElementById('card').style.display = "none";
            document.getElementById('prompt').style.display = "none";
            document.getElementById('ask').style.display = "none";
            document.getElementById('button').style.display = "none";            

            
            var input = editor.getValue();
            var message = input;
            // editor.destroy();
            // editor.container.remove();
            editor.setValue("");
            document.getElementById('editor').style.display = "none";

            // Clear the input field
            
            // Send message to server
            socket.emit('message_from_client', {'uuid': sessionStorage["uuid"], 'answer': message});

            document.getElementById('loader').style.display = "block";

            // var coderDiv = document.getElementById('block');
            // coderDiv.appendChild(loaderDiv);

            var button = document.getElementById('button');
            button.disabled = true;
        }
        
        </script>
</body>
</html>
