<!DOCTYPE html>
<html>
<head>
    <title>Waiting</title>
    <link href="{{ url_for('static',filename='styles/others.css') }}" rel="stylesheet"><link href="{{ url_for('static',filename='styles/index.css') }}" rel="stylesheet">
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script type="text/javascript" charset="utf-8">
        let uuid = crypto.randomUUID();
        var socket = io.connect('http://' + document.domain + ':' + location.port);
        var username = prompt("Enter your username:");

        //let myuuid = uuidv4();
        sessionStorage["uuid"] = uuid;
        //console.log("sid", sid, "oldsid", oldsid);
        socket.emit('set_username', {"uuid":uuid, 'username': username});
        
        socket.on('redirect_to_admin', function(data) {
            // Redirect the client to the specified URL
            window.location.href = data.url;
        });

        socket.on('redirect_to_question', function(data) {
          window.location.href = data.url;
        });
    </script>
</head>
<body>
    <div class="flex flex-col justify-center min-h-screen bg-gray-50 py-6 sm:py-12 w-fill">
        <div id='bounce' class="relative bg-white rounded-lg shadow-xl ring-1 ring-gray-900/5 mx-auto max-w-lg px-6 pt-10 pb-8 sm:px-10 space-y-6 text-base leading-7 text-gray-600 md:w-3/4">
            <h1 class="center text-3xl font-extrabold tracking-tight text-gray-900 sm:text-4xl">Waiting for the host to start the game...</h1>
        </div>
    </div>
</body>
</html>
